<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ytoxl.module.yipin.content.mapper.AdvertisementMapper">
	<sql id="selectAdv">
		select 
			adv.advertisementId,
			adv.url,
			adv.rank,
			adv.imageUrl,
			adv.advertisementName,
			adv.target,
			adv.positionId,
			adv.advertisementPositionId,
			adv.createUserId,
			adv.createTime,
			adv.updateTime,
			adv.status,
			p.positionId  as `position.positionId`,
			p.positionName  as `position.positionName`,
			p.createUserId  as `position.createUserId`,
			p.createTime  as `position.createTime`,
			p.updateTime as `position.updateTime`,
			p.height as `position.height`,
			p.width as `position.width`,
			p.code as `position.code`,
			pr.propId as `p.propId`,
			pr.name as `p.name`,
			pr.code as `p.code`,
			pr.level as `p.level`,
			pr.parentid as `p.parentId`,
			pr.rank as `p.rank`,
			pr.status as `p.status`,
			pr.createTime as `p.createTime`,
			pr.updateTime as `p.updateTime`
		from advertisement adv 
		join position p on adv.positionId=p.positionId
		left join prop pr on adv.advertisementPositionId = pr.propId
	</sql>
	<sql id="selectPic">
	select 
			adv.advertisementId,
			adv.url,
			adv.rank,
			adv.imageUrl,
			adv.advertisementName,
			adv.target,
			adv.positionId,
			adv.advertisementPositionId,
			adv.createUserId,
			adv.createTime,
			adv.updateTime,
			adv.status,
			p.positionId  as `position.positionId`,
			p.positionName  as `position.positionName`,
			p.createUserId  as `position.createUserId`,
			p.createTime  as `position.createTime`,
			p.updateTime as `position.updateTime`,
			p.height as `position.height`,
			p.width as `position.width`,
			p.code as `position.code`
			from advertisement adv 
		join position p on adv.positionId=p.positionId
	</sql>
	<sql id="QueryCondition">
		<where>
			1=1
			<if test="positionId!=null and positionId !=-1">
				and p.positionId=#{positionId}
			</if>
			and adv.status = ${@com.ytoxl.module.yipin.content.dataobject.Advertisement@ADV_NORMAL}
		</where>
		ORDER BY #{sort}
		limit #{start},#{limit}
	</sql>
	<select id="selectAdvPic" resultType="Advertisement" parameterType="java.lang.String">
		<include refid="selectPic"/>
		<where>
			1=1
			<if test="code!=null and code !=''">
				and p.code=#{code}
			</if>
			and adv.status = ${@com.ytoxl.module.yipin.content.dataobject.Advertisement@ADV_NORMAL}
		</where>
		ORDER BY adv.rank
	</select>
	<!-- 首页展示时进行ajax转换 -->
	<select id="selectAdvByAddressAndCategory" parameterType="java.lang.Integer" resultType="Advertisement">
		<include refid="selectAdv"/>
		<where>
			1=1
			and  pr.parentid = #{parentId}
			and adv.status = ${@com.ytoxl.module.yipin.content.dataobject.Advertisement@ADV_NORMAL}
		</where>
		ORDER BY adv.rank
	</select>
	<!-- 根据查询条件查询广告明细 -->
	<select id="searchAdvertisementByCondition" parameterType="Map" resultType="Advertisement">
		<include refid="selectAdv"/>
		 <where>
			1=1
			<if test="positionId!=null and positionId !=-1">
				and p.positionId=#{positionId}
			</if>
			and adv.status = ${@com.ytoxl.module.yipin.content.dataobject.Advertisement@ADV_NORMAL}
		</where>
		ORDER BY #{sort}
		limit #{start},#{limit}
	</select>
	<!-- 根据查询条件查询广告明细 总数-->
	<select id="searchAdvertisementByConditionCount" resultType="java.lang.Integer">
		select 
			count(*)
		from advertisement adv 
			join position p 
			on adv.positionId=p.positionId
		<include refid="QueryCondition"/>
	</select>
	<!-- 根据主键得到广告明细 -->
	<select id="get" parameterType="java.lang.Integer" resultType="Advertisement">
		<include refid="selectAdv"/>
		<where>
			adv.advertisementId =#{advertisementId}
			and adv.status = ${@com.ytoxl.module.yipin.content.dataobject.Advertisement@ADV_NORMAL}
		</where>
	</select>
	<!-- 添加广告明细 -->
	<insert id="add" parameterType="Advertisement" useGeneratedKeys="true" keyProperty="advertisementId">
		insert into
			advertisement (
				advertisementId,
				url,
				rank,
				imageUrl,
				advertisementName,
				target,
				positionId,
				advertisementPositionId,
				createUserId,
				createTime,
				updateTime,
				status
			) values(
				#{advertisementId,jdbcType=NUMERIC},
				#{url,jdbcType=VARCHAR},
				#{rank,jdbcType=NUMERIC},
				#{imageUrl,jdbcType=VARCHAR},
				#{advertisementName,jdbcType=VARCHAR},
				#{target,jdbcType=NUMERIC},
				#{positionId,jdbcType=NUMERIC},
				#{advertisementPositionId,jdbcType=NUMERIC},
				#{createUserId,jdbcType=NUMERIC},
				now(),
				now(),
				${@com.ytoxl.module.yipin.content.dataobject.Advertisement@ADV_NORMAL}
			)
	</insert>
	<!-- 更新广告明细 -->
	<update id="update"  parameterType="Advertisement"  >
		update advertisement
		set
				advertisementId=#{advertisementId},
				url=#{url},
				rank=#{rank},
				imageUrl=#{imageUrl},
				advertisementName=#{advertisementName},
				target=#{target},
				positionId=#{positionId},
				advertisementPositionId=#{advertisementPositionId},
				createUserId=#{createUserId},
				createTime=#{createTime},
				updateTime=CURRENT_TIMESTAMP
		where advertisementId=#{advertisementId}
	</update>
	<update id="deleteAdv" parameterType="java.lang.Integer">
		update advertisement
		set status = ${@com.ytoxl.module.yipin.content.dataobject.Advertisement@ADV_DELETE},
			updateTime=CURRENT_TIMESTAMP
		where advertisementId=#{advertisementId}
	</update>
</mapper>