<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ytoxl.module.yipin.content.mapper.HelpMapper">
	<!-- 查询帮助类别 -->
	<select id="listHelpCategorys" resultType="HelpCategory">
		select helpCategoryId,
			   name,
			   parentId,
			   rank
			  from help_category 
			  where parentId=0 order by rank
	</select>
	<!-- 查询帮助集合 -->
	<select id="listHelps" parameterType="integer" resultType="HelpCategory">
		select hc.helpCategoryId,
			   name,
			   parentId,
			   rank,
			   helpId as `help.helpId`,
			   <!-- content as `help.content`, -->
			   h.helpCategoryId as `help.helpCategoryId`			   
			  from help_category hc inner join help h on hc.helpCategoryId=h.helpCategoryId
			  where parentId=#{helpCategoryId} order by rank
	</select>
	<!-- 查询帮助Id查询帮助的内容 -->
	<select id="getContentByHelpId" parameterType="integer" resultType="Help">
		SELECT h.helpId,h.content,a.helpName,a.helpCategoryName FROM help h 
		INNER JOIN (
			SELECT hcp.helpCategoryId,hcp.name AS helpName,hc.name AS helpCategoryName FROM help_category hc 
			INNER JOIN help_category hcp ON hc.helpCategoryId = hcp.parentId) a
		ON h.helpCategoryId = a.helpCategoryId  WHERE h.helpId = #{helpId}
	</select>
	<!-- 更新帮助内容 -->
	<update id="updateContent" parameterType="Help">
		update help set content=#{content} where helpId=#{helpId}	
	</update>
	
</mapper>