<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ytoxl.module.yipin.content.mapper.NoticeMapper">

	<!-- 添加一条数据 -->
	<insert id="add" useGeneratedKeys="true" keyProperty="specialTopicAdvId"
		parameterType="Notice">
		INSERT INTO notice
			(title,type,source,content,createUserId,`status`,
			 isDelete,publishTime,createTime,updateTime)
		VALUES
			(#{title},#{type},#{source},#{content},#{createUserId},
			#{status},
			'${@com.ytoxl.module.yipin.base.dataobject.Notice@NOT_DELETE}',
			'${@com.ytoxl.module.yipin.base.dataobject.Notice@DEFAULT_TIME}',
			CURRENT_TIMESTAMP,
			'${@com.ytoxl.module.yipin.base.dataobject.Notice@DEFAULT_TIME}')
	</insert>

	<!-- 更新一条数据 -->
	<update id="update" parameterType="Notice">
		UPDATE notice 
		SET 
			<if test="title !=null and title !=''">
				title=#{title},
			</if>
			<if test="type !=null">
				type=#{type},
			</if>
			<if test="source !=null and source !=''">
				source=#{source},
			</if>
				content=#{content},
			<if test="status !=null">
				status=#{status},
			</if>
			updateTime=CURRENT_TIMESTAMP,
			publishTime ='${@com.ytoxl.module.yipin.base.dataobject.Notice@DEFAULT_TIME}'
		WHERE noticeId=#{noticeId};
	</update>
	
	<!-- 删除数据 -->
  	<delete id="deleteNoticeByIds">
		UPDATE notice SET isDelete='${@com.ytoxl.module.yipin.base.dataobject.Notice@DELETED}'
		WHERE noticeId IN
		<foreach collection="array" index="index" item="item" open="(" separator="," close=")">
               #{item}
        </foreach>
  	</delete>
	
	<!-- 审核公告 -->
	<update id="updateCheck">
		UPDATE notice 
		SET 
			`status`=${@com.ytoxl.module.yipin.base.dataobject.Notice@CHECKED_YES},
			checkerId = #{checkerId},
			publishTime=CURRENT_TIMESTAMP,
			updateTime=CURRENT_TIMESTAMP 
		WHERE `status` =${@com.ytoxl.module.yipin.base.dataobject.Notice@CHECKED_NO}
		AND noticeId IN
		<foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
               #{item}
        </foreach>
	</update>
	
	<!-- 查询广告信息 -->
	<sql id="listNotices">
		SELECT
			n.noticeId,
			n.title,
			n.type,
			n.source,
			n.content,
			n.isDelete,
			n.`status`,
			n.createUserId,
			n.checkerId,
			n.createTime,
			n.publishTime
		FROM notice n 
	</sql>
	
	<sql id="where">
		<where>
			<if test="title !=null and title !=''">
			n.title LIKE concat('%',#{title},'%')
			</if>
			<if test="type !=null and type !=''">
			AND n.type = #{type}
			</if>
			<if test="status !=null and status !=''">
			AND n.`status` = #{status}
			</if>
			AND n.isDelete='${@com.ytoxl.module.yipin.base.dataobject.Notice@NOT_DELETE}'
		</where>
	</sql>
	
	<!-- 数据排序 -->
	<sql id="order">
		ORDER BY n.noticeId DESC
	</sql>
	
	<!-- 根据公告id获取公告信息 -->
	<select id="get" parameterType="integer" resultType="Notice">
		SELECT 
			n.noticeId,
			n.title,
			n.type,
			n.source,
			n.content,
			n.createUserId,
			n.status,
			n.isDelete,
			n.createUserId,
			n.checkerId,
			n.createTime,
			n.publishTime
		FROM notice n
		WHERE n.noticeId = #{noticeId}
	</select>
	

	<!-- 后台分页查询广告 信息-->
	<select id="searchNotices" parameterType="map"
		resultType="Notice">
		SELECT temp.noticeId,
			temp.title,
			temp.type,
			temp.source,
			temp.content,
			temp.isDelete,
			temp.`status`,
			temp.createUserId,
			temp.checkerId,
			temp.createTime,
			temp.publishTime FROM (
		<include refid="listNotices"/>
		<include refid="where"/>
		ORDER BY n.status ASC,n.publishTime DESC,n.createTime DESC
		) temp 
		LIMIT #{start},#{limit}
	</select>
	
	<!-- 查询广告 信息总数 -->
	<select id="searchNoticesCount" parameterType="map" resultType="integer">
		SELECT COUNT(*) FROM (
		<include refid="listNotices"/>
		<include refid="where"/>
		) temp 
	</select>
	
	
	<!-- 根据公告条件获取公告信息 -->
	<select id="getNoticeCondition" parameterType="integer" resultType="Notice">
		SELECT 
			n.noticeId,
			n.title,
			n.type,
			n.source,
			n.content,
			n.createUserId,
			n.status,
			n.isDelete,
			n.createUserId,
			n.checkerId,
			n.createTime,
			n.publishTime
		FROM notice n
		WHERE n.noticeId = #{noticeId}
				AND isDelete = ${@com.ytoxl.module.yipin.base.dataobject.Notice@NOT_DELETE}
				AND status = ${@com.ytoxl.module.yipin.base.dataobject.Notice@CHECKED_YES}
	</select>
	
	<!-- 下一篇公告-->
	<select id="nextNotice" parameterType="integer"
		resultType="Notice">
		SELECT 
			noticeId,
			title,
			type,
			source,
			content,
			createUserId,
			status,
			createTime,
			publishTime 
		FROM notice 
		WHERE 	noticeId &lt; #{noticeId}
				AND type = #{type}
				AND isDelete = ${@com.ytoxl.module.yipin.base.dataobject.Notice@NOT_DELETE}
				AND status = ${@com.ytoxl.module.yipin.base.dataobject.Notice@CHECKED_YES}
		ORDER BY noticeId DESC LIMIT ${@com.ytoxl.module.yipin.base.dataobject.Notice@TOP_LIMIT}
	</select>
	
	<!-- 上一篇公告-->
	<select id="previousNotice" parameterType="integer"
		resultType="Notice">
		SELECT 
			noticeId,
			title,
			type,
			source,
			content,
			createUserId,
			status,
			createTime,
			publishTime
		FROM notice 
		WHERE	noticeId &gt; #{noticeId}
				AND type = #{type}
				AND isDelete = ${@com.ytoxl.module.yipin.base.dataobject.Notice@NOT_DELETE}
				AND status = ${@com.ytoxl.module.yipin.base.dataobject.Notice@CHECKED_YES}
		ORDER BY noticeId ASC LIMIT ${@com.ytoxl.module.yipin.base.dataobject.Notice@TOP_LIMIT}
	</select>
	
	<!-- 前台分页查询广告 信息-->
	<select id="searchNoticeList" parameterType="map"
		resultType="Notice">
		SELECT temp.noticeId,
			temp.title,
			temp.type,
			temp.source,
			temp.content,
			temp.isDelete,
			temp.`status`,
			temp.createUserId,
			temp.checkerId,
			temp.createTime,
			temp.publishTime 
		FROM 
			(<include refid="listNotices"/>
			<include refid="where"/>
			ORDER BY n.publishTime DESC,n.createTime DESC
			) temp 
		LIMIT #{start},#{limit}
	</select>
	
	<select id="searchNoticeListOrderByCreateTime"></select>
	
</mapper>