<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ytoxl.module.yipin.content.mapper.SuggestMapper">

	<!-- 添加一条数据 -->
	<insert id="add" useGeneratedKeys="true" keyProperty="suggestId"
		parameterType="Suggest">
		insert into suggest(`suggestId`,
		userId,`type`,`content`,`status`,`createTime`)
		values(
		#{suggestId},#{userId},#{type},#{content},#{status},CURRENT_TIMESTAMP)
	</insert>
	
	<!-- 删除一条数据 -->
	<delete id="del" parameterType="integer">
		delete from suggest where
		suggestId=#{suggestId}
	</delete>
	
	<!-- 修改吐槽/发现信息 -->
	<update id="update" parameterType="Suggest">
		update suggest
		<set>
			<if test="status!=null and status!=''">
				status=#{status},
			</if>
			<if test="revertUser!=null and revertUser!=''">
				revertUser=#{revertUser},
			</if>
			<if test="revertContent!=null and revertContent!=''">
				revertContent=#{revertContent},
			</if>
			<if
				test="revertContent!=null and revertContent!='' and revertUser!=null and revertUser!=''">
				revertTime=CURRENT_TIMESTAMP
			</if>
		</set>
		where suggestId=#{suggestId}
	</update>

	<sql id="searchSuggestsCondition">
		<where>
			(p.pointSource=${@com.ytoxl.module.yipin.base.dataobject.Point@POINTSOURCE_SPLIT}
			or
			p.pointSource=${@com.ytoxl.module.yipin.base.dataobject.Point@POINTSOURCE_FIND}
			or
			p.pointSource is null)
			and
			s.status!=${@com.ytoxl.module.yipin.content.dataobject.Suggest@STATUS_DEL}
			<if test="userId!=null and userId!=''">
				and s.userId=#{userId}
			</if>
			<if test="type!=null and type!=''">
				and s.type=#{type}
        	</if>
		</where>
	</sql>

	<!-- 根据分页查询吐槽/发现 -->
	<select id="searchSuggests" parameterType="map" resultType="Suggest">
		select s.suggestId,
		s.type,
		s.content,
		s.status,
		s.userId,
		s.createTime,
		s.revertUser,
		s.revertContent,
		s.revertTime,
		p.point as `point`,
		username as `user.username`
		from suggest s left join user u on s.userId =
		u.userId
		left join point_detail p on p.sourceId= s.suggestId
		<include refid="searchSuggestsCondition" />
		order by s.createTime desc
		limit #{start},#{limit}
	</select>

	<!-- 根据分页查询吐槽/发现数量 -->
	<select id="searchSuggestsCount" parameterType="map" resultType="Integer">
		select
		count(suggestId)
		from suggest s left join user u on s.userId =
		u.userId
		left join point_detail p on p.sourceId= s.suggestId
		<include refid="searchSuggestsCondition" />
	</select>

	<!-- [管理页面 ]检索条件 -->
	<sql id="searchSuggestsByCondition">
		<where>
			<if test="status!=null and status!=''">
				s.status=#{status}
        	</if>
			<if test="type != null and type != ''">
				and s.type=#{type}
        	</if>

		</where>
	</sql>

	<!-- [管理页面 ]根据条件查询分页查询吐槽/发现 -->
	<select id="getSuggestsByCondition" parameterType="map"
		resultType="Suggest">
		SELECT
		s.suggestId,
		s.type,
		s.content,
		s.status,
		s.userId,
		s.createTime,
		s.revertUser,
		s.revertContent,
		s.revertTime,
		p.point AS `point`,
		username AS `user.username`
		FROM suggest s INNER JOIN user u ON s.userId = u.userId
		LEFT JOIN point_detail p ON p.sourceId= s.suggestId
		<if test="pointSource!=null and pointSource!=''">
			AND p.pointSource = #{pointSource}
		</if>
		<include refid="searchSuggestsByCondition" />
		ORDER BY s.createTime desc
		LIMIT #{start},#{limit}
	</select>

	<!-- [管理页面 ]根据条件查询吐槽/发现总数 -->
	<select id="getSuggestsCountByCondition" parameterType="map"
		resultType="Integer">
		select
		count(suggestId)
		from suggest s inner join user u on s.userId =
		u.userId
		left join point_detail p on p.sourceId= s.suggestId
		<if test="pointSource!=null and pointSource!=''">
			and p.pointSource = #{pointSource}
       	</if>
		<include refid="searchSuggestsByCondition" />
	</select>

	<!-- 根据ID检索吐槽/发现 -->
	<select id="getSuggestById" parameterType="java.lang.Integer"
		resultType="Suggest">
		select suggestId,type,status
		from suggest where
		suggestId=#{suggestId}
	</select>

	<!-- 禁止重复提交内容 -->
	<select id="checkSuggestByUserIdAndContent" parameterType="Suggest"
		resultType="java.lang.Integer">
		select suggestId
		from suggest where userId=#{userId} and
		content=#{content} and type=#{type}
	</select>

</mapper>