<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ytoxl.module.yipin.base.mapper.CityMapper">

	<!-- 查询城市 -->
	<select id="searchAllCity"
		resultType="City">
		SELECT cityId,
		name
		FROM
		City
		order by rank
	</select>
	
	<select id="searchCityByCityId" resultType="city" parameterType="int">
		select c.cityId,c.name from  city c where c.cityId=#{cityId}
	</select>
</mapper>