<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ytoxl.module.yipin.base.mapper.ExpressMapper">
	<!-- 添加一条数据 -->
	<insert id="add" useGeneratedKeys="true" keyProperty="expressId" parameterType="Express">
		insert into express (expressName,websiteUrl,companyCode) 
		values (#{expressName},#{websiteUrl},#{companyCode})
	</insert>
	
	<!-- 删除一条数据 -->
	<delete id="del" parameterType="java.lang.Integer">
		delete from express where expressId=#{id}
	</delete>
	
	
	<!-- 更新一条数据 -->
	<update id="update" parameterType="Express">
		update express
		set
			expressName=#{expressName},
			websiteUrl=#{websiteUrl},
			companyCode=#{companyCode}
		where expressId=#{expressId}
	</update>
	
	<!-- 根据id查询数据-->
	<select id="get" parameterType="Express" resultType="Express">
		select * 
		from express 
		where expressId=#{expressId}
	</select>
	
	<!-- 查询快递公司数据-->
	<select id="listExpresses" resultType="Express">
		select * 
		from express 
	</select>
	
	<!-- 根据快递公司名称查询数据 -->
	<select id="searchExpress" parameterType="java.lang.String" resultType="Express">
		select * from express where expressName like CONCAT('%',#{expressName},'%' )  
	</select>
</mapper>