<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ytoxl.module.yipin.base.mapper.MyUresourceMapper">
  <!-- 添加资源 -->
  <insert id="add" parameterType="Uresource" keyProperty="uresourceId" useGeneratedKeys="true">
		insert into uresource(uresourceName,url,isMenu,rank,parentId,status) values (#{uresourceName},#{url},#{isMenu},#{rank},#{parentId},#{status});                     
  </insert>
  <!-- 根据主键得到资源 -->
  <select id="get" parameterType="integer" resultType="Uresource">
		select 
			uresourceId,
			parentId,
			uresourceName,
			url,
			status,
			isMenu,
			rank,
			createTime
		from uresource where  uresourceId = #{uresourceId}	
  </select>
  <!-- 根据主键更新资源 -->
  <update id="update" parameterType="Uresource">
		update uresource set uresourceName=#{uresourceName} where uresourceId=#{uresourceId}
  </update>
  <!-- 根据主键删除资源 -->
  <delete id="del" parameterType="integer">
        delete from uresource where uresourceId=#{uresourceId}
  </delete>
  <!-- 根据角色ID获取对应资源 -->
  <select id="getUresourcesByUroleId" parameterType="integer" resultType="Uresource">
		select 
			ur.uresourceId,
			ur.parentId,
			ur.uresourceName,
			ur.url,
			ur.status,
			ur.isMenu,
			ur.rank,
			ur.createTime,
			uu.uroleUresourceId,
			uu.uroleId,
			uu.uresourceId
		from uresource ur inner join urole_uresource uu on ur.uresourceId=uu.uresourceId where uu.uroleId=#{uroleId} order by ur.rank	
  </select>
  <!-- 根据角色ID删除角色资源对应关系 -->
  <delete id="deleteUroleUresourceByUroleId" parameterType="integer">
        delete from urole_uresource where uroleId=#{uroleId}
  </delete>
    <!-- 批量新增角色资源对应关系-->
  <insert id="addUroleUresources"  keyProperty="uroleUresourceId" useGeneratedKeys="true">
		insert into urole_uresource(uroleId,uresourceId) values 
		 <foreach collection="uresourceIds" item="uresourceId" index="index" separator=",">
		(#{uroleId},#{uresourceId})
		 </foreach>                   
  </insert>
</mapper>