<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ytoxl.module.yipin.base.mapper.SkuOptionValueMapper">
	
  	<!-- 查询产品规格值列表 -->
  	<select id="listSkuOptionValues" parameterType="java.lang.Integer" resultType="SkuOptionValue">
  		SELECT skuOptionValueId, skuOptionValue FROM sku_option_value
  		WHERE skuOptionId = #{skuOptionId}
  		ORDER BY rank
  	</select>
	
	<!-- 根据id查询一条产品规格值数据 -->
	<select id="get" parameterType="int" resultType="SkuOptionValue">
		SELECT skuOptionValueId, skuOptionId, skuOptionValue, rank
		 FROM sku_option_value
		WHERE skuOptionValueId = #{skuOptionValueId}
	</select>
	
</mapper>