.bra-camp{padding:20px 0;border-bottom:2px solid #999}
.bra-camp li{float:left;border:2px solid #e6e6e6;margin:-2px 5px 0;position:relative}
.bra-camp li.hover{border-color:#ff4d00;z-index:11}
.bra-camp li.hover .brand-reorder{display:block}
.brand-reorder{display:none;width:94px;height:48px;position:absolute;left:0;top:0}
.brand-reorder i{display:block;position:absolute;width:17px;height:43px;background:url(../../images/icon.png) -100px -25px no-repeat;top:2px;cursor:pointer}
.brand-reorder .pre{left:0}
.brand-reorder .next{right:0;background-position:-117px -25px}
.reorder-bg{width:100%;height:100%;position:absolute;left:0;top:0;background:#e6e6e6;filter:alpha(opacity=75);-moz-opacity:.75;opacity:.75}
.reorder-val{width:30px;position:absolute;left:30px;top:12px;text-align:center}
.brand-checked{position:absolute;right:0;bottom:0}
