.buyer-form-fl ul li{float:left;margin-right:25px}
.buyer-form-fl ul li i{display:inline-block;background:url(../../images/icon.png) -85px -4px;width:16px;height:16px;vertical-align:-2px;margin-left:5px;cursor:pointer}
.buyer-form-fl ul li .down{background-position:-105px -4px}
.buyer-form-fl ul li .cur i{background-position:-124px -4px}
.buyer-form-fl ul li .cur .down{background-position:-143px -4px}