.foot-left{width:140px;float:left}
.foot-left-t{wdith:140px;height:30px;line-height:30px;margin-top:14px;color:#fff;text-indent:24px;background:#000}
.foot-left-m{width:138p;border:1px solid #bfad61;border-top:0 none;padding:5px 0}
.foot-list h1{height:25px;line-height:25px;color:#bfad61;padding-left:20px;margin:0;position:relative}
.foot-list-i{display:block;width:11px;height:11px;background:url(../../images/icon.png) -34px -27px;position:absolute;left:5px;top:7px}
.foot-list a{display:block;height:25px;line-height:25px;padding:0 20px}
.foot-list a:hover{color:#000;background:#fdf8e7;text-decoration:underline}
.foot-right{width:650px;padding:20px 110px 20px 80px;float:left}
.edit-textarea{width:650px;height:250px;margin:10px 0}
.input-num{text-align:right}
