.msg{width:530px}
.msg-title{height:30px;line-height:30px;position:relative;text-align:center;background-color:#619dd4;color:#fff;border:1px solid #2b7ac4}
.close{position:absolute;right:5px;top:0;color:#fff;font:bold 18px/30px "黑体"}
.msg-main{height:250px;padding:5px;line-height:20px;overflow:auto;border:1px solid #ccc}
.msg-main li{padding:0 5px;margin:5px 0}
.msg-main li:hover{background:#c2dbf2}
.msg-main li b{margin-right:5px;line-height:24px}
.msg-main li p{word-wrap:break-word}
.msg-foot{padding:10px;zoom:1;background:#f2f2f2;border:1px solid #ccc}
.msg-foot:after{display:table;clear:both;content:""}
.msg-foot textarea{padding:2px 4px;width:380px;height:54px;line-height:18px;float:left;margin-bottom:10px}
.msg-foot .save-msg{display:block;float:left;width:90px;height:58px;font-size:14px;line-height:58px;text-align:center;border:1px solid #ccc;margin-left:20px;background:#e3e3e3}
.msg-foot .save-msg:hover{background:#d9d9d9}
#remarkTip{float:left}
