<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ytoxl.module.yipin.order.mapper.OrderRefundExpressMapper">
	<insert id="add" parameterType="OrderRefundExpress" keyProperty="orderRefundExpressId"
		useGeneratedKeys="true">
		insert into order_refund_express(
		orderRefundExpressId,
		orderRefundId,
		expressId,
		expressName,
		expressNo,
		createTime
		)
		values(
		#{orderRefundExpressId},
		#{orderRefundId},
		#{expressId},
		#{expressName},
		#{expressNo},
		CURRENT_TIMESTAMP
		)
	</insert>

	<!-- 删除一条数据 -->
	<delete id="del" parameterType="java.lang.Integer">
		DELETE FROM order_refund_express
		WHERE orderRefundExpressId = #{orderRefundExpressId}
  	</delete>

	<!-- 更新一条数据 -->
	<update id="update" parameterType="OrderRefundExpress">
		UPDATE order_refund_express
		SET
		orderRefundId = #{orderRefundId},
		expressId = #{expressId},
		expressName = #{expressName},
		expressNo = #{expressNo}
		WHERE orderRefundExpressId = #{orderRefundExpressId}
  	</update>

	<!-- 查询一条数据 -->
	<select id="get" parameterType="integer" resultType="OrderRefundExpress">
		SELECT
		orderRefundExpressId,
		orderRefundId,
		expressId,
		expressName,
		expressNo,
		createTime,
		updateTime
		FROM order_refund_express
		WHERE orderRefundExpressId =
		#{orderRefundExpressId}
  	</select>
  	
  	<!-- 通过orderReundId获取退货的快递信息 -->
  	<select id="getOrderRefundExpressByOrderRefundId" resultType="OrderRefundExpress">
  		select 
			orderRefundExpressId,
			orderRefundId,
			expressId,
			expressName,
			expressNo,
			createTime,
			updateTime
  		from order_refund_express
		where orderRefundId = #{orderRefundId}
  	</select>
</mapper>